<div class="users-account-change-password">
	<h1>Change Your Password</h1>
	<div class="sub-header">
		<h5 class="user-role">{{currentUser.company_name || currentUser.first_name + '  ' + currentUser.last_name}}</h5>
	</div>

	<form class="form" name="changePasswordForm" ng-submit="changePassword(changePasswordForm.$valid)" novalidate>

		<div class="form-group current-password" ng-class="{'invalid' : changePasswordForm.currentPassword.$invalid && changePasswordForm.currentPassword.$dirty, 'valid' : changePasswordForm.currentPassword.$valid && changePasswordForm.currentPassword.$dirty}">
			<label for="currentPassword" class="inline">Current Password</label>
			<input type="password" name="currentPassword" id="currentPassword" class="form-control" placeholder="" ng-model="user.current_password" ng-minlength=8 required show-form-errors />
			<p class="form-helper" ng-if="changePasswordForm.currentPassword.$dirty && changePasswordForm.currentPassword.$error.minlength && !changePasswordForm.currentPassword.$focused">Password must contain at least 8 characters.</p>
		</div>

		<div class="form-group new-password" ng-class="{'invalid' : changePasswordForm.newPassword.$invalid && changePasswordForm.newPassword.$dirty, 'valid' : changePasswordForm.newPassword.$valid && changePasswordForm.newPassword.$dirty}">
			<label for="newPassword" class="inline">New Password</label>
			<input type="password" name="newPassword" id="newPassword" class="form-control" placeholder="" ng-model="user.password" ng-minlength=8 required show-form-errors password-equals="{{user.confirmPassword}}" />
			<p class="form-helper" ng-if="changePasswordForm.newPassword.$dirty && changePasswordForm.newPassword.$error.minlength && !changePasswordForm.newPassword.$focused">Your new password must contain at least 8 characters.</p>
		</div>

		<div class="form-group confirm-password" ng-class="{'invalid' : changePasswordForm.confirmPassword.$invalid && changePasswordForm.confirmPassword.$dirty, 'valid' : changePasswordForm.confirmPassword.$valid && changePasswordForm.confirmPassword.$dirty}">
			<label for="confirmPassword" class="inline">Confirm Password</label>
			<input type="password" name="confirmPassword" id="confirmPassword" class="form-control" placeholder="" ng-model="user.password_confirmation" ng-minlength=8 required show-form-errors password-equals="{{user.newPassword}}" />
			<p class="form-helper" ng-if="changePasswordForm.confirmPassword.$dirty && changePasswordForm.confirmPassword.$error.required">You must confirm your new password!</p>
			<p class="form-helper" ng-if="changePasswordForm.confirmPassword.$dirty && changePasswordForm.confirmPassword.$error.minlength && !changePasswordForm.confirmPassword.$focused">Your new password must contain at least 8 characters.</p>
		</div>

		<div class="form-group form-buttons">
	        <button class="btn button button-primary" type="submit" ng-disabled="changePasswordForm.$invalid">Update Password</button>
	    </div>

	</form>

</div>