<div class="users-account-change-password">
	<h1>Change Password</h1>
	<div class="sub-header">
		<h5 class="user-role">{{currentUser.company_name || currentUser.first_name + '  ' + currentUser.last_name}}</h5>
	</div>

	<div class="form-group password" ng-class="{'invalid' : updateUserForm.password.$invalid && updateUserForm.password.$dirty, 'valid' : updateUserForm.password.$valid && updateUserForm.password.$dirty}">
		<label for="causePassword" class="inline">Password</label>
		<input type="password" name="password" id="causePassword" class="form-control" placeholder="password" ng-model="user.password" ng-minlength=8 required show-form-errors />
		<p class="form-helper" ng-if="updateUserForm.password.$dirty && updateUserForm.password.$error.required && !updateUserForm.password.$focused">Password is required!</p>
		<p class="form-helper" ng-if="updateUserForm.password.$dirty && updateUserForm.password.$error.minlength && !updateUserForm.password.$focused">Password must contain at least 8 characters.</p>
	</div>

</div>