<div class="user-profile-image-upload">
	<div class="user-profile-picture">
		<div class="loading-spinner" ng-if="showSpinner"></div>
		<div class="default-image" ng-if="currentUser.images.profile_picture.original === ''"><i class="icon icon-photos-pictures"></i></div>
		<img ng-src="{{userImage}}" ng-if="currentUser.images.profile_picture.original !== ''" />
		<ul class="file-uploads" ng-if="!removeItem && getUploader() != null">
	        <li ng-repeat="item in getUploader().queue">
	        	<div class="file-actions">
	        		<div class="file-name" ng-bind="item.file.name"></div>
		            <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()">upload</button>
		            <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">Cancel</button>
	        	</div>
			    <div class="progress">
					<div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
				</div>
	        </li>
	    </ul>
	</div>
	<div class="image-upload">
	    <input ng-if="getUploader() != null" id='profile-picture-upload' type="file" class="file-input" nv-file-select uploader="getUploader()" multiple />
	    <div class="fake-uploader-container">
		    <div class="btn button button-primary fake-upload-button">Choose File</div>
		    <span class="fake-file-input"><span ng-if="!showSpinner">Upload Photo</span><span ng-if="showSpinner">Uploading...</span></span>
		</div>
	</div>
</div>
