<div class="register-certificate-step-two">
	<div class="form-section">
		<div class="section-title">
			<h3 class="form-section-title">Choose Your Cause</h3>
			<ul class='steps-indicator'>
				<li ng-class="{ 'complete': !stepOneNotComplete() }"></li>
				<li class='active' ng-class="{ 'complete': !stepTwoNotComplete() }"></li>
				<li ng-class="{ 'complete': !stepThreeNotComplete() }"></li>
			</ul>
		</div>

		<div class='row'>
			<div ng-repeat="sponsorship in sponsorships" class="cause radio-button small-grid grid block">
				<input type="radio" id="cause-{{$index}}" name="cause-{{$index}}" ng-model="newUser.certificates_attributes.sponsorship_id" value="{{sponsorship.id}}" />
				<label for="cause-{{$index}}" class="cause-details" data-sponsorship-id="{{sponsorship.id}}">
					<div class="grid-item">
						<div user-profile-picture user='sponsorship.cause'></div>
						<div class="company-name">{{sponsorship.cause.company_name | characters:20}}</div>
						<div class="user-summary">{{sponsorship.cause.summary | characters:140}}</div>
					</div>
				</label>
	    </div>
		</div>
	</div>
</div>
