<footer class="footer">
	<div class="top">
		<div class="left">
			<p class="description">Taliflo's branded currency platform enables everyday businesses and people to seamlessly create, distribute and exchange vouchers, coupons, points, credits and any other form of branded currency. The stronger your reputation, the larger your network, the more you can contribute to causes that benefit your community and innovate how we treat each other financially.</p>
			<p class="address">PO Box 3451, Smithers, BC, V9J2N0, Canada</p>
			<a href="" class="email">community@taliflo.com</a>
		</div>
		<div class="right">
			<ul class="footer-links">
				<li>
					<a class="footer-link">Explore Causes</a>
				</li>
				<li>
					<a class="footer-link">How it Works</a>
				</li>
				<li>
					<a class="footer-link">Meet the Team</a>
				</li>
				<li>
					<a class="footer-link">Visit Our Blog</a>
				</li>
				<li>
					<a class="footer-link">Terms of Service</a>
				</li>
				<li>
					<a class="footer-link">Privacy Policy</a>
				</li>
			</ul>
			<ul class="social-links">
				<li>
					<a class="social-link facebook">Facebook</a>
				</li>
				<li>
					<a class="social-link twitter">Twitter</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="bottom copyright">
		&copy; 2014 Taliflo Inc.
	</div>
</footer>