<footer class="footer">

	<ul class="social list-unstyled">
		<li>
			<a class="social-link email" href="mailto:community@giveloco.com"><i class="icon icon-mail-letter"></i></a>
		</li>
		<li>
			<a class="social-link facebook" target="_blank" href="https://www.facebook.com/givelocoInc"><i class="icon icon-facebook"></i></a>
		</li>
		<li>
			<a class="social-link twitter" target="_blank" href="https://twitter.com/givelocoInc"><i class="icon icon-twitter"></i></a>
		</li>
	</ul>

	<ul class='links'>
		<li>
			<a ui-sref='home({goto:"how-it-works-step-1"})' ui-sref-opts='{reload: true}'>How it Works</a>
		</li>
		<li>
			<a ui-sref='home({goto:"why-give-loco"})' ui-sref-opts='{reload: true}'>Why GiveLoco?</a>
		</li>
		<li>
			<a href='https://giveloco.freshdesk.com/solution/articles/5000555547-pricing' target="_blank">Pricing</a>
		</li>
		<li ui-sref-active="active" ng-if="!isLoggedIn()">
			<a ui-sref="auth.signup.business" id='footer-sign-up'>Sign Up</a>
		</li>
		<li ui-sref-active="active" ng-if="!isLoggedIn()">
			<a ui-sref="auth.login" class='login'>Log In</a>
		</li>
		<li>
			<a href='http://giveloco.com/#about' target="_blank">About</a>
		</li>
	</ul>

	<div class='dark-marquis'>

		<p>
			GiveLoco is a product of giveloco Inc <span>&copy; 2015 giveloco Inc.</span> <span>All Rights Reserved.</span>
		</p>
		<p class='space'>
			<a ui-sref="terms">Terms of Service</a>
			<a ui-sref="policy">Privacy Policy</a>
		</p>

	</div>

</footer>
