/* =======================================================================
	Style References
======================================================================= */
@import (reference) "../../common/styles/custom_mixins.less";
@import (reference) "../../common/styles/custom_variables.less";


/* ***********************************************************************
	Common Module Styles
*********************************************************************** */
body.explore {
	.exploreGrid {
		.container();
		.page-header {
			margin-bottom: 30px;
			.left {
				.make-xs-column(12);
				.make-sm-column(8);
				.make-md-column(6);
			}
			.right {
				.make-xs-column(12);
				.make-sm-column(4);
				.make-md-column(6);
				@media @breakpoint-xs {
					.icon {
						left: 22px;
						top: 9px;
					}
					input.search {
						float: none;
						width: 100%;
						margin-top: 0;
					}
				}
			}
		}
	}
	.pagination-top {
		display: block;
		@media @breakpoint-sm {
			display: none;
		}
	}
	.pagination-bottom {
		display: none;
		@media @breakpoint-sm {
			display: block;
		}
	}
}


/* =======================================================================
	Sub-Module LESS file imports
======================================================================= */
@import "businesses/explore-businesses.less";
@import "causes/explore-causes.less";