<div class="tab businesses">
	<div class="tab-header">
		<div class="left-section">
			<div class="title">
				<h3 class="tab-title">Total Businesses: {{businessesAll.length}}</h3>
				<h5 class="subtitle"><span class="active">Activated Businesses: {{businessesActive.length}}</span><span class="inactive warning">Inactive Businesses: {{businessesInactive.length}}</span></h5>
			</div>
		</div>
		<div class="middle-section">
			<div ajax-spinner class="spinner" ng-show="loading"></div>
		</div>
		<div class="right-section">
			<div class="utils search-wrapper">
				<i class="icon icon-search-2"></i>
				<input type="search" class="search" ng-model="searchBusinesses" placeholder="Search Businesses" typeahead="user.company_name for user in businesses | filter:$viewValue | limitTo:8" />
			</div>
		</div>
	</div>
	<table class="table table-bordered table-hover">
		<thead>
			<tr>
				<th class="user-header id">ID</th>
				<th class="user-header name">Company Name</th>
				<th class="user-header campaign-tags">Campaign Tags</th>
				<th class="user-header status">Published</th>
				<th class="user-header status">Activated</th>
				<th class="user-header user-actions"></th>
			</tr>
		</thead>
		<tbody ng-hide="loading">
			<tr dir-paginate="user in businessesAll | orderBy: 'created_at' : true | filter: searchBusinesses | itemsPerPage: 25 : 'bizTab'" pagination-id="bizTab" class="user business">
				<td class="user-field id">
					{{user.id}}
				</td>
				<td class="user-field name">
					<a ui-sref="profile.business({id:user.id})" title="{{user.company_name}}">
						{{user.company_name}}
					</a>
				</td>
				<td class="user-field campaign-tags">
					<ul class="tagList">
						<li class="campaign list-tag" ng-repeat="tag in user.campaigns"><a class="tag" ui-sref="explore.businesses({q: tag})">#{{tag}}</a></li>
					</ul>
				</td>
				<td class="user-field status">
					<div class="status-active" ng-if="user.is_published === true">Published</div>
					<div class="status-not-active" ng-if="user.is_published === false">Unpublished</div>
				</td>
				<td class="user-field status">
					<div class="status-active" ng-if="user.is_activated === true">Activated</div>
					<div class="status-not-active" ng-if="user.is_activated === false">Not Activated</div>
				</td>
				<td class="user-field user-actions">
          <div class="dropdown">
						<div is-open="status.isopen" class="dropdown-wrapper" dropdown on-toggle="toggled(open)">
							<a class="dropdown-toggle" dropdown-toggle>
								<i class="icon icon-gear-setting-1"></i><span class="caret"></span>
							</a>
							<ul class="dropdown-menu dropdown-menu-right" role="menu">
								<li class="first"><a ui-sref='account.profile.edit({id:user.id})'>Edit Profile</a></li>
								<li ng-if="user.is_activated"><a ng-click='deactivateUser(user)' href='#'>Deactivate</a></li>
								<li ng-if="!user.is_activated"><a ng-click='activateUser(user)' href='#'>Activate</a></li>
							</ul>
						</div>
          </div>
				</td>
			</tr>
			<tr ng-hide="(businesses | filter: searchBusinesses).length || loading" class="no-results">
				<td colspan="100%">No Results</td>
			</tr>
		</tbody>
	</table>
	<div dir-pagination-controls pagination-id="bizTab"></div>
</div>
