<div class="tab businesses">
	<div class="tab-header">
		<div class="left title">
			<h3 class="tab-title">Total Businesses: {{businesses.length}}</h3>
			<h5 class="subtitle warning">Inactive Businesses: {{businessesInactive.length}}</h5>
		</div>
		<div class="right utils search-wrapper">
			<i class="icon icon-search-2"></i>
			<input type="search" class="search" ng-model="searchBusinesses" placeholder="Search Businesses" typeahead="user.company_name for user in businesses | filter:$viewValue | limitTo:8" />
		</div>
	</div>
	<table class="table table-bordered table-hover">
		<thead>
			<tr>
				<th class="user-header id">User ID</th>
				<th class="user-header company-name">Company Name</th>
				<th class="user-header total-vouchers-sold">GCs Sold</th>
				<th class="user-header value-vouchers-sold">Value of GCs Sold</th>
				<th class="user-header total-unredeemed-vouchers">GCs Outstanding</th>
				<th class="user-header last-voucher-sold">Last GC Sold</th>
				<th class="user-header status">Status</th>
				<th class="user-header user-actions">Actions</th>
			</tr>
		</thead>
		<tbody ng-hide="loading">
			<tr dir-paginate="user in businesses | orderBy: 'created_at' : true | filter: searchBusinesses | itemsPerPage: 25 : 'bizTab'" pagination-id="bizTab" class="user business">
				<td class="user-field id">
					{{user.id}}
				</td>
				<td class="user-field company-name">
					{{user.company_name}}
				</td>
				<td class="user-field total-vouchers-sold">
					
				</td>
				<td class="user-field value-vouchers-sold">
					
				</td>
				<td class="user-field total-unredeemed-vouchers">
					
				</td>
				<td class="user-field last-voucher-sold">
					
				</td>
				<td class="user-field status">
					<div class="status-active" ng-if="user.is_active === true">Active</div>
					<div class="status-not-active" ng-if="user.is_active === false">Inactive</div>
				</td>
				<td class="user-field user-actions">
					
				</td>
			</tr>
			<div ajax-spinner class="spinner" ng-show="loading"></div>
			<p ng-hide="(businesses | filter: searchBusinesses).length || loading" class="no-results">Sorry, No Results</p>
		</tbody>
	</table>
	<div dir-pagination-controls pagination-id="bizTab"></div>
</div>