<div class="social-media-links">
	<div class="container">
		<ul class="social-links list-unstyled">
			<li>
				<a class="social-link email" href="mailto:community@giveloco.com" popover-placement="top" popover-trigger="mouseenter" popover="Email"><i class="icon icon-mail-letter"></i></a>
			</li>
			<li>
				<a class="social-link facebook" href="https://www.facebook.com/givelocoInc" popover-placement="top" popover-trigger="mouseenter" popover="Facebook"><i class="icon icon-facebook"></i></a>
			</li>
			<li>
				<a class="social-link twitter" href="https://twitter.com/givelocoInc" popover-placement="top" popover-trigger="mouseenter" popover="Twitter"><i class="icon icon-twitter"></i></a>
			</li>
			<li>
				<a class="social-link linkedin" href="https://www.linkedin.com/company/giveloco-inc-" popover-placement="top" popover-trigger="mouseenter" popover="LinkedIn"><i class="icon icon-linkedin"></i></a>
			</li>
		</ul>
	</div>
</div>
