<div class="signup-form small-form toggle-form">
	<h1>Register Your Business</h1>
	<form class="form" name="signupFormBusiness" ng-submit="signupBusiness()" novalidate>

		<div class="form-group" ng-class="{'invalid' : signupFormBusiness.email.$invalid && signupFormBusiness.email.$dirty, 'valid' : signupFormBusiness.email.$valid && signupFormBusiness.email.$dirty}">
			<label for="email" class="inline">Email</label>
			<input type="email" name="email" id="email" class="form-control" placeholder="email@address.com" ng-model="user.email" ng-pattern="emailRegex" required auto-focus show-form-errors />
			<p class="form-helper" ng-if="signupFormBusiness.email.$error.pattern && !signupFormBusiness.email.$focused">Invalid Email Address</p>
			<p class="form-helper" ng-if="signupFormBusiness.email.$dirty && signupFormBusiness.email.$error.required && !signupFormBusiness.email.$focused">Email Address is required!</p>
		</div>

		<div class="form-group" ng-class="{'invalid' : signupFormBusiness.password.$invalid && signupFormBusiness.password.$dirty, 'valid' : signupFormBusiness.password.$valid && signupFormBusiness.password.$dirty}">
			<label for="password" class="inline">Password</label>
			<input type="password" name="password" id="password" class="form-control" placeholder="password" ng-model="user.password" ng-minlength=8 required show-form-errors />
			<p class="form-helper" ng-if="signupFormBusiness.password.$dirty && signupFormBusiness.password.$error.required && !signupFormBusiness.password.$focused">Password is required!</p>
			<p class="form-helper" ng-if="signupFormBusiness.password.$dirty && signupFormBusiness.password.$error.minlength && !signupFormBusiness.password.$focused">Password must contain at least 8 characters.</p>
		</div>

		<div class="form-group form-buttons">
			<button class="btn button button-primary" type="submit" ng-disabled="signupFormBusiness.$invalid">Sign Up</button>
			<p class="choose-form">Sign up as a <a ui-sref="auth.signup.donor">Donor</a> or a <a ui-sref="auth.signup.cause">Cause</a></p>
		</div>

	</form>
</div>