/* =======================================================================
	Style References
======================================================================= */
@import (reference) "../../../../common/styles/custom_mixins.less";
@import (reference) "../../../../common/styles/custom_variables.less";


/* ***********************************************************************
	Module Styles
*********************************************************************** */
body.users.auth.signup {
	[users-auth-registration-donor],
	[users-auth-registration-business],
	[users-auth-registration-cause] {
		.animated(@duration: 0.5s, @fill: both);
		.fadeInLeft();
	}
	.toggle-form.ng-hide-remove {
		.animated(@duration: 0.5s, @fill: both);
		.flipInY();
	}
	h1 {
		background-color: @brand-orange;
	}
	h5 {
		margin: 0 0 15px;
		color: @brand-purple;
		text-transform: uppercase;
	}
	.choose-form {
		display: block;
		margin-top: 10px;
	}
	.sub-section {
		.clearfix();
	}
	select {
		width: 100%;
		height: 42px;
		line-height: 42px;
		text-indent: 75px;
		background-color: #fff;
	}


	/* =======================================================================
		Business
	======================================================================= */
	&.business,
	&.cause {
		h1 {
			color:#fff;
			&.active {
				span {
					opacity:0.75;
				}
				span.company_name {
					opacity:1;
				}
			}
		}
		.form-section.location-info,
		.form-section.company-details {
			margin-top: 30px;
		}
		.form-group {
			label { width: 125px; }
			input { padding-left: 135px; }
			@media @breakpoint-md {
				&.country,
				&.state,
				&.city,
				&.zip {
					label { width: 75px; }
					width: 49%;
					float: left;
				}
				&.country,
				&.city {
					margin-right: 2%;
				}
				&.city {
					label { width: 50px; }
					input { padding-left: 60px; }
				}
				&.zip {
					label { width: 100px; }
					input { padding-left: 110px; }
				}
				&.summary {
					input {
						background-color: #fff;
						border-color: #ccc;
					}
				}
			}
		}
		.sub-section.name {
			.clearfix();
			.first-name,
			.last-name {
				width: 49%;
				float: left;
			}
			.first-name {
				margin-right: 2%;
			}
		}
		.form-group.output {
			.icon {
				float: left;
				font-size: 36px;
				padding: 22px 30px;
				color:@brand-teal;
			}
			.address_output {
				border: solid 1px #ccc;
				background-color: #fff;
				padding: 10px;
				text-align: left;
				.complete_address_label {
					font-weight: bold;
					color:@brand-teal;
				}
			}
		}
	}
	&.business {

	}


	/* =======================================================================
		Cause
	======================================================================= */
	&.cause {

	}


	/* =======================================================================
		Donor
	======================================================================= */
	&.donor {
		.form-section.name {
			.clearfix();
			.first-name,
			.last-name {
				width: 49%;
				float: left;
			}
			.first-name {
				margin-right: 2%;
			}
		}
	}

}