/* =======================================================================
	Style References
======================================================================= */
@import (reference) "../../../../common/styles/custom_mixins.less";
@import (reference) "../../../../common/styles/custom_variables.less";


/* ***********************************************************************
	Module Styles
*********************************************************************** */
body.users.auth.signup {
	[users-auth-registration-donor],
	[users-auth-registration-business],
	[users-auth-registration-cause] {
		.animated(@duration: 0.5s, @fill: both);
		.fadeInLeft();
	}
	.toggle-form.ng-hide-remove {
		.animated(@duration: 0.5s, @fill: both);
		.flipInY();
	}
	h1 {
		background-color: @brand-orange;
	}
	h5 {
		margin: 0 0 15px;
		color: @brand-purple;
		text-transform: uppercase;
	}
	.choose-form {
		display: block;
		margin-top: 10px;
	}

}