<div id="modalSponsorshipRequest" class="modal-wrapper">
	<h2 class="modal-title"><span>Sponsor</span> {{user.company_name}}</h2>
	<button class="close" ng-click="usersProfileSponsorshipRequestModal.close()"><i class="icon icon-x"></i></button>

	<form ng-submit='submitSponsorshipRequest(sponsorshipForm.$valid)' class="form" id="sponsorshipForm" name="sponsorshipForm" novalidate autocomplete="off">
		<div class="modal-body">
	    	<div class="form-section request">

	        </div>
		</div>

		<div class="modal-footer">
			<p style='text-align: center;'>
				<button class="btn button button-secondary" type="submit">Send Request</button>
				<button class="btn button btn-danger" ng-click="usersProfileSponsorshipRequestModal.close()">Cancel</button>
			</p>
    </div>
  </form>
</div>
