/* =======================================================================
	Style References
======================================================================= */
@import (reference) "../../../common/styles/custom_mixins.less";
@import (reference) "../../../common/styles/custom_variables.less";


/* ***********************************************************************
	Module Styles
*********************************************************************** */
body.dashboard.business {
	.dash-summary {
		.summary-block {
			position: relative;
			.pop-over {
				position: absolute;
				top: 5px;
				right: 20px;
				background-color: #fff;
			}
			.popover {
				.popover-content {
					width: 200px;
				}
			}
		}
	}
	.dash-content {
		
	}
}


/* =======================================================================
	Sub-Module LESS file imports
======================================================================= */
