<div class="users-account-history">
	<div class="page-header" ng-if="$state.includes('account')">
		<div class="left-side">
			<h1>Transaction History</h1>
			<div class="sub-header">
				<h5 class="username">for <span>{{currentUser.company_name || currentUser.first_name + '  ' + currentUser.last_name}}</span></h5>
			</div>
		</div>
	</div>
	<div class="transactions">
		<table class="table table-bordered table-hover">
			<thead>
				<tr>
					<th class="transaction-header date">Date</th>
					<th class="transaction-header details">Taliflo Transactions</th>
					<th class="transaction-header amount">Amount</th>
					<th class="transaction-header balance">Running Balance</th>
					<th class="transaction-header status">Status</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-if="transactions.length === 0">
					<td class="transaction-field date">N/A</td>
					<td class="transaction-field details">No Transactions</td>
					<td class="transaction-field amount">N/A</td>
					<td class="transaction-field balance">N/A</td>
					<td class="transaction-field status">N/A</td>
				</tr>
				<tr dir-paginate="t in transactions | orderBy: 'created_at' : true | itemsPerPage: 25" class="transaction {{t.status}}">
					<td class="transaction-field date">
						<div class="trans-type">{{t.trans_type}}</div>
						<div class="date">{{t.created_at | date : 'MMM d, y h:mm:ss a'}}</div>
					</td>
					<td class="transaction-field details">
						<div class="from_to_user">
							<div class="from_user_name" ng-if="fromUserRoleIs(t, 'individual')">From: {{t.from_name}} ({{t.from_user_role}})</div>
							<div class="from_user_name" ng-if="fromUserRoleIsNot(t, 'individual')">
								<span class="field-label">From:</span> <a ui-sref="profile.{{t.from_user_role}}({id:t.from_user_id, role:t.from_user_role})">{{t.from_name}}</a> ({{t.from_user_role}})
							</div>
							<div class="to_user_name" ng-if="toUserRoleIs(t, 'individual')">To: {{t.to_name}} ({{t.to_user_role}})</div>
							<div class="to_user_name" ng-if="toUserRoleIsNot(t, 'individual')">
								<span class="field-label">To:</span> <a ui-sref="profile.{{t.to_user_role}}({id:t.to_user_id, role:t.to_user_role})">{{t.to_name}}</a> ({{t.to_user_role}})
							</div>
						</div>
						<div class="transaction_id"><span class="field-label">ID:</span> {{t.trans_id}}</div>
					</td>
					<td class="transaction-field amount">
						<div ng-if="currentUserRoleIs('cause')">
							<span ng-if="transTypeIs(t, 'donation')" class="debit">-{{t.amount | customCurrency: ''}}</span>
							<span ng-if="transTypeIs(t, 'pledge')" class="credit">{{t.amount | customCurrency: ''}}</span>
						</div>
						<div ng-if="currentUserRoleIs('business')">
							<span ng-if="transTypeIs(t, 'pledge')" class="debit">-{{t.amount | customCurrency: ''}}</span>
							<span ng-if="transTypeIs(t, 'redemption')" class="credit">{{t.amount | customCurrency: ''}}</span>
						</div>
						<div ng-if="currentUserRoleIs('individual')">
							<span ng-if="transTypeIs(t, 'redemption')" class="debit">-{{t.amount | customCurrency: ''}}</span>
							<span ng-if="transTypeIs(t, 'donation')" class="credit">{{t.amount | customCurrency: ''}}</span>
						</div>
					</td>
					<td class="transaction-field balance">
						<div ng-if="t.from_user_id === currentUser.id">
							{{t.from_user_balance | customCurrency: ''}}
						</div>
						<div ng-if="t.to_user_id === currentUser.id">
							{{t.to_user_balance | customCurrency: ''}}
						</div>
					</td>
					<td class="transaction-field status"><div class="status-color">{{t.status}}</div><div class="icon"></div></td>
				</tr>
				
			</tbody>
		</table>
		<div dir-pagination-controls></div>
	</div>
</div>