<div class="transaction-donate module-view">
	<h1>Donate to {{user.company_name}}</h1>
    <form class="form" id="donationForm" name="donationForm" stripe-form="stripeCallBack" novalidate autocomplete="off">

    	<div class="hidden-fields">
    		<input type="hidden" ng-model="name">
    	</div>

	    <div class="form-section basic-info">
			<div class="form-group amount" ng-class="{'invalid' : donationForm.amount.$invalid && donationForm.amount.$dirty, 'valid' : donationForm.amount.$valid && donationForm.amount.$dirty}">
				<label for="amount_name" class="inline">Donation Amount</label>
				<input type="text" name="amount" id="amount" class="form-control" placeholder="20.00" ng-model="transaction.amount" required show-form-errors />
				<p class="form-helper" ng-if="donationForm.amount.$dirty && donationForm.amount.$error.required && !donationForm.amount.$focused">You must add an amount to donate is required!</p>
			</div>
		</div>
		<div class="form-section credit-card-info">
			<div class="credit-card-number form-group">
				<label for="creditCard" class="inline">Credit Card #</label>
				<input type="text" name="creditCard" id="creditCard" class="form-control" placeholder="xxxx xxxx xxxx xxxx" ng-model="number" payments-validate="card" payments-format="card" show-form-errors />
			</div>
			<div class="expiry">
				<div class="expiration form-group">
					<label for="expiry" class="inline">Expiry Month</label>
					<input type="text" name="expiry" id="expiry" class="form-control" placeholder="MM / YYYY" ng-model="expiry" payments-validate="expiry" payments-format="expiry" show-form-errors />
				</div>
				<div class="cvv form-group">
					<label for="cvc" class="inline">CVC</label>
					<input type="text" name="cvc" id="cvc" class="form-control" placeholder="123" ng-model="cvc" payments-validate="cvc" payments-format="cvc" show-form-errors />
				</div>
			</div>
		</div>
	    <div class="form-group form-buttons">
	        <button class="btn button button-primary" type="submit">Donate {{amount | currency}}</button>
	    </div>

    </form>
</div>