/* =======================================================================
	Custom Variables
======================================================================= */
@brand-purple: #440e62;
@brand-orange: #ffae42;
@brand-teal: #00a79d;

@green: #33cc00;

@light-red: #ff6666;

@facebook-blue: #4c66a4;
@focus-blue: #66afe9;

@border-color: #eeeeee;
@lightest-grey: #f9f9f9;


/* =======================================================================
	Media Query Breakpoints
======================================================================= */
@breakpoint-xs: ~"screen and (max-width: 767px)";
@breakpoint-sm: ~"screen and (min-width: 768px)";
@breakpoint-md: ~"screen and (min-width: 992px)";
@breakpoint-lg: ~"screen and (min-width: 1200px)";

@breakpoint-sm-only: ~"screen and (min-width: 768px) and (max-width: 991px)";
@breakpoint-md-only: ~"screen and (min-width: 992px) and (max-width: 1199px)";