<div class="users-profile-cause-supporting-businesses supporters">
	<hr />
	<h3 class="supporters-title">Supporting Businesses</h3>
	<div class="row">
	    <div ng-repeat="business in supportingBusinesses" class="business small-grid grid block">
	    	<div class="grid-item">
		    	<a ui-sref="profile.business({id:business.id, role:business.role})" title="{{business.company_name}}">
					<div class="profile-picture"><img ng-src="{{business.profile_picture}}"></div>
					<div class="company-name">{{business.company_name | characters:24}}</div>
				</a>
				<div class="user-summary">{{business.summary | characters:140}}</div>
				<div class="supporters">{{business.supporters.length}} Supporting Business<span ng-if="business.supporters.length != 1">es</span></div>
			</div>
	    </div>
    </div>
    <div ajax-spinner class="spinner" ng-show="loading"></div>
</div>