<div id="modal-adminDeleteSponsorship" class="modal-wrapper">
  <h2 class="modal-title">Delete Sponsorship</h2>
  <button class="close" ng-click="deleteSponsorshipModal.close()"><i class="icon icon-x"></i></button>

    <div class="modal-body">
      <h3>Are you sure you want to delete this sponsorship?</h3>
      <div>Business: {{selectedSponsorship.business.company_name}}</div>
      <div>Cause: {{selectedSponsorship.cause.company_name}}</div>
    </div>

    <div class="modal-footer">
      <ul class="buttons list-unstyled">
        <li><button class="btn button button-secondary" ng-click='confirmDeleteSponsorship(selectedSponsorship)'>Delete</button></li>
        <li><a class="btn button btn-danger" ng-click="deleteSponsorshipModal.close()">Cancel</a></li>
      </ul>
    </div>

</div>
