/* =======================================================================
	Style References
======================================================================= */
@import (reference) "../../common/styles/custom_mixins.less";
@import (reference) "../../common/styles/custom_variables.less";


/* ***********************************************************************
	Page Styles
*********************************************************************** */
body.page.home {
	#ui-view {
		.animated();
		.fadeIn();
	}
	.section-title {
	    text-align: center;
	    font-weight: 500;
	    font-family: "PT Sans Narrow", "Helvetica Neue", HelveticaNeue, Arial, sans-serif;
	    font-size: 65px;
	}
	p {
		font-size: 18px;
		line-height: 28px;
	}
	#freshwidget-button {
		@media @breakpoint-xs {
			display: none !important;
		}
	}
	.header {
		display: none;
		@media @breakpoint-md {
			display: block;
			position: absolute;
		}
		.navbar {
			background-color: transparent;
			border-bottom: none;
			.navbar-header {
				display: none;
			}
			.navbar-right {
				padding: 0;
				background: none;
				border-radius: 0 0 5px 5px;
				position: relative;
				background: url("/images/blacks/black35.png");
				&:before {
					opacity: 0;
					z-index: 0;
				}
				> ul > li {
					.fadeInDownBig();
					opacity: 1;
					.animated();
					.customAnimated(@duration: 0.2s);
					transition: opacity 0.2s linear;
					> a,
					.dropdown-wrapper > a {
						text-decoration: none;
						color: #fff;
						text-transform: capitalize;
						&:hover {
							background-color: transparent;
							background: url("/images/whites/white35.png");
						}
					}
				}
			}
		}
	}
	.home-navbar {
		width: 100%;
		position: fixed;
		top: 0;
		z-index: 99;
		opacity: 0;
		visibility: hidden;
		transition: visibility linear 0.2s;
		.animated();
		.customAnimated(@duration: 0.3s);
		@media @breakpoint-xs {
			display: none !important;
		}
		&.active {
			visibility: visible;
			.fadeInDown();
		}
		&.inactive {
			.fadeOutUp();
		}
		&.show {
			display: block;
		}
		&.hide {
			display: none;
		}
		.home-branding {
			&.active,
			&:hover {
				a {
					background-color: transparent;
				}
			}
		}
		li {
			padding-left: 0;
			padding-right: 0;
		}
	}
	.main {
		margin-top: 0;
		.view-home {
			padding-top:0;
			.jumbotron {
				margin-bottom: 0;
				background: url("/images/home_header_bg_dark.jpg") no-repeat center top;
				background-size: cover;
				padding-top: 20px;
				@media @breakpoint-xs {
					padding: 30px 5px;
					background: url("/images/home_header_bg_dark.jpg") no-repeat left top;
					background-size: cover;
				}
				.logo-large {
					height: 275px;
					background: url("/images/logo/logo_color_lg.png") no-repeat center;
					background-size: contain;
					@media @breakpoint-xs {
						height: 180px;
					}
					@media @breakpoint-md {
						height: 275px;
					}
				}
				.explore-links {
					.clearfix();
					text-align: center;
					margin-bottom: 60px;
					@media @breakpoint-xs {
						width: 310px;
					}
					a {
						margin: 0 5px;
						font-size: 20px;
						font-weight: bold;
						line-height: 24px;
						text-transform: uppercase;
						text-align: center;
						color: #fff;
						border-radius: 3px;
						padding: 15px 6px 15px 10px;
						text-shadow: 0px 0px 3px #333;
						padding: 2rem;
						color: #fff;
						box-shadow: 0px 0px 10px darken(@brand-orange, 50%);
						@media @breakpoint-xs {
							width: 145px;
							font-size: 16px;
							line-height: 20px;
							.icon {
								.icons(@font-size: 35px, @top-margin: 2px);
							}
						}
						&.causes {
							padding: 15px 30px;
						}
						&:hover {
							box-shadow: 0px 0px 10px darken(@brand-teal, 50%);
						}
						.icon {
							.icons(@font-size: 45px, @top-margin: 2px);
							margin: -10px 0 10px;
							float: none;
						}
					}
				}
				h1 {
					color: #fff;
					font-size: 60px;
					text-shadow: 1px 1px 5px #333;
					@media @breakpoint-xs {
						font-size: 50px;
						line-height: 60px;
					}
					@media @breakpoint-md {
						margin: 30px 25px 40px;
					}
				}
			}
			a.scroll-down {
				display: block;
				text-align: center;
				height: 48px;
				width: 48px;
				margin: 30px auto 0;
				.icon {
					color: #fff;
					float: none;
					font-size: 48px;
					height: 48px;
					text-shadow: 1px 1px 3px #666;
				}
			}
		}
	}
	.home-section {
		min-height: 525px;
		padding: 30px 0px;
		.section-title {
			margin: 30px 0 30px;
		}
		.divider {
			height: 5px;
			width: 150px;
			margin: 0 auto 40px;
			background: url("/images/whites/white35.png");
		}
		.section-block {
			.make-xs-column(12);
			.make-sm-column(4);
			.make-md-column(4);
			.make-lg-column(4);
			margin-bottom: 50px;
			.block-divider {
				height: 5px;
				width: 75px;
				margin: 20px auto;
				background: url("/images/blacks/black10.png");
			}
		}
	}
	.section-causes {
		background-color: @brand-teal;
		.row {
			min-height: 525px;
		}
		.section-title {
			color: #fff;
		}
		.register-cause {
			text-align: center;
			.button {
				text-transform: uppercase;
				padding: 10px 15px;
				margin: auto;
			}
		}
	}
	.section-why-taliflo {
		background-color: @brand-grey;
		padding-bottom: 100px;
		.section-title {
			font-size: 0;
		}
		.divider {
			display: none;
		}
		.section-block {
			text-align: center;
			.block-image {
				color: #fff;
				width: 180px;
				height: 180px;
				padding: 35px;
				margin: auto;
				border-radius: 100%;
				.icon {
					.icons(@font-size: 100px);
					float: none;
					margin-right: 0;
				}
			}
			.block-content {
				padding: 0;
				@media @breakpoint-md {
					padding: 0 20px;
				}
				@media @breakpoint-lg {
					padding: 0 15px;
				}
			}
			.block-footer {
				margin-top: 30px;
				.button {
					&:hover {
						background-color: @brand-orange;
					}
				}
			}
			&.people {
				.block-image {
					background-color: @brand-purple;
				}
				.block-footer {
					.button {
						background-color: @brand-purple;
						&:hover {
							background-color: lighten(@brand-purple, 15%);
						}
					}
				}
			}
			&.causes {
				.block-image {
					padding: 36px;
					background-color: @brand-orange;
					.icon {
						.icons(@font-size: 110px);
					}
				}
				.block-footer {
					.button {
						background-color: @brand-orange;
						&:hover {
							background-color: darken(@brand-orange, 15%);
						}
					}
				}
			}
			&.businesses {
				.block-image {
					background-color: @brand-teal;
				}
				.block-footer {
					.button {
						background-color: @brand-teal;
						&:hover {
							background-color: darken(@brand-teal, 15%);
						}
					}
				}
			}
		}
	}
	.section-how-it-works {
		background-color: @brand-teal;
		.section-title {
			color: #fff;
		}
		.section-block {
			&.video {
				.make-xs-column(12);
				.make-sm-column(7);
				.make-md-column(7);
				.make-lg-column(7);
				float: none;
				height: 100%;
				@media @breakpoint-lg {
					padding-left: 20px;
					padding-right: 20px;
				}
				iframe {
					width: 100%;
					@media @breakpoint-xs {
						height: 218px;
					}
					@media @breakpoint-sm {
						height: 238px;
					}
					@media @breakpoint-md {
						height: 296px;
					}
					@media @breakpoint-lg {
						height: 358px;
					}
				}
			}
			&.text {
				.make-xs-column(12);
				.make-sm-column(5);
				.make-md-column(5);
				.make-lg-column(5);
				color: #fff;
				.block-title,
				.block-content {
					@media @breakpoint-md {
						padding: 0 40px;
					}
					li {
						font-size: 16px;
						line-height: 20px;
						margin: 10px 0;
						@media @breakpoint-sm {
							font-size: 20px;
							line-height: 30px;
							margin: 25px 0;
						}
						@media @breakpoint-md {
							font-size: 22px;
							line-height: 26px;
							margin: 40px 0;
						}
						@media @breakpoint-lg {
							font-size: 30px;
							line-height: 34px;
							margin: 45px 0;
						}
					}
				}
			}
		}
	}
	.section-supporters {
		background-color: @brand-orange;
		padding-bottom: 100px;
		.section-title {
			color: #fff;
			font-size: 0;
		}
		.divider {
			display: none;
		}
		.section-content {
			.quotation-mark {
				.icon {
					width: 60px;
					margin: auto;
					color: @brand-teal;
					.icons(@font-size: 60px);
					.rotate(@degrees: 180deg);
					float: none;
				}
			}
			.quote {
				padding: 0 20px;
				@media @breakpoint-sm {
					padding: 0 60px;
				}
				blockquote {
					font-size: 26px;
					@media @breakpoint-sm {
						font-size: 36px;
						line-height: 40px;
					}
					line-height: 36px;
					border-left: none;
					color: #fff;
					text-shadow: 1px 1px 1px darken(@brand-orange, 20%);
				}
			}
			.supporter-name {
				.quotation();
				font-size: 16px;
				@media @breakpoint-sm {
					font-size: 20px;
				}
				color: #fff;
				text-shadow: 1px 1px 1px darken(@brand-orange, 20%);
				opacity: 0.9;
			}
		}
		.bootstrap-carousel {
			.carousel-indicators {
				position: relative;
				bottom: 0;
				margin-top: 30px;
				li {
					width: 50px;
					height: 50px;
					margin: 0 5px;
					border-radius: 100%;
					text-indent: 0;
					color: #fff;
					border-color: #000;
					background-color: #000;
					opacity: 0.15;
					transition: opacity linear 0.2s;
					&:before {
						font-family: 'Taliflo';
						.icons(@font-size: 34px);
						line-height: 48px;
						width: 50px;
						height: 50px;
					}
					&:first-child:before {
						content:'J';
						margin-left: -3px;
					}
					&:last-child:before {
						content:'L';
						margin-left: 1px;
					}
					&.active,
					&:hover {
						opacity: 0.4;
					}
				}
			}
			.carousel-control {
				display: none;
				background: none;
				.icon {
					.icons(@font-size: 60px);
				}
				&.left {

				}
				&.right {
					.icon {
						float: right;
					}
				}
			}
		}
	}
	.section-team {
		background-color: @brand-grey;
		padding-bottom: 100px;
		margin-bottom: -40px;
		text-align: center;
		.member-photo {

		}
		.member-name {
			margin-bottom: 0;
		}
		.member-title {
			font-size: 18px;
			margin: 10px 0;
			.quotation();
		}
		.member-bio {
			padding: 0;
			@media @breakpoint-lg {
				padding: 0 20px;
			}
		}
		.block-footer {
			.social-links {
				@link-width: 32px;
				&.links {
					width: @link-width;
					margin: auto;
					&.two {
						width: @link-width * 2;
					}
					&.three {
						width: @link-width * 3;
					}
				}
			}
		}
		.divider {
			background: url("/images/blacks/black10.png");
		}
	}
	.section-learn-more {
		height: 600px;
		text-align: center;
		margin-bottom: -40px;
		background: url("/images/home_footer_bg.jpg") no-repeat center 1px;
		background-size: cover;
		border-top: solid 1px #ccc;
		padding: 170px 40px;
		@media @breakpoint-xs {
			padding: 100px 10px;
		}
		.section-title {
			color: #fff;
			text-shadow: 1px 1px 1px #666;
		}
		.button {
			margin-top: 40px;
			padding: 20px 40px;
			text-transform: uppercase;
			text-shadow: 1px 1px 1px #666;
			box-shadow: 0px 0px 10px #666;
		}
	}
}
