/* =======================================================================
	Style References
======================================================================= */
@import (reference) "../../../../common/styles/custom_mixins.less";
@import (reference) "../../../../common/styles/custom_variables.less";


/* ***********************************************************************
	Module Styles
*********************************************************************** */
body.account {
	.sub-header {
		margin-bottom: 30px;
		h5 {
			span {
				color: @brand-teal;
				text-transform: capitalize;
			}
			.status {
				text-transform: capitalize;
				&.unconfirmed {
					color: red;
				}
			}
		}
	}
	.account-layout {
		.container();
		.account-sidebar {
			.make-xs-column(12);
			.make-sm-column(3);
			.make-md-column(3);
			.make-lg-column(3);
			margin-top: 20px;
			ul {
				padding: 0;
				li {
					list-style: none;
					a {
						display: block;
						border: solid 1px @border-color;
						padding: 10px;
						border-bottom: none;
					}
					&:first-child {
						a {
							border-radius: 5px 5px 0 0;
						}
					}
					&:last-child {
						a {
							border-radius: 0 0 5px 5px;
							border-bottom: solid 1px @border-color;
						}
					}
					&.active {
						a {
							background-color: @brand-teal;
							color: #fff;
							border-color: @brand-teal;
							&:after {
								width: 12px;
								font-family:"taliflo";
								content:"L";
								.icons(@font-size: 20px);
								float: right;
							}
						}
					}
				}
			}
			.output.address {
				margin-top: 30px;
				border: solid 1px @border-color;
				border-radius: 5px;
				padding: 15px 10px;
				.clearfix();
				.icon {
					color: @brand-teal;
					float: left;
					font-size: 30px;
					margin: 5px 5px 0 0;
				}
				.address_output {
					float: left;
					width: 80%;
				}
			}
		}
		.main-content {
			.make-xs-column(12);
			.make-sm-column(9);
			.make-md-column(9);
			.make-lg-column(9);
			.button {
				.icon {
					.icons(@font-size: 20px, @top-margin:-2px);
				}
			}
		}
	}
	.module-view {
		.row();
	}
	.form-group {
		label.inline {
			width: 125px;
		}
		input {
	        padding: 20px 36px 20px 135px;
	    }
		.button {
			text-transform: uppercase;
		}
	}
	.form-helper {
		@media @breakpoint-sm {
			right: 102%;
			left: auto;
			&.ng-enter {
	            .fadeInLeft();
	        }
	        &.ng-leave {
	            .fadeOutLeft();
	        }
		}
		&:before {
	        &:extend(.arrow.right);
	        top: 12px;
	        border: 8px solid transparent;
	        border-left-color: @light-red;
	        border-right-color: transparent;
	        @media @breakpoint-sm {
	            display: block;
	        }
	    }
	    &.info {
	        &:before {
	            border-left-color: @brand-teal;
	        }
	    }
	}
}