<div class="account-layout">
	<div class="module-view">
		<div class="account-sidebar">
			<ul>
				<li ui-sref-active="active"><a ui-sref="account.profile.view" class="details">Account Profile</a></li>
				<!--
				<li ui-sref-active="active" ng-if="userRoleIs('business')"><a ui-sref="account.billing" class="billing-info">Banking Information</a></li>
			-->
				<li ui-sref-active="active"><a ui-sref="account.info" class="password">Account Settings</a></li>
			</ul>
			<div class="output address" ng-if="($state.current.name.indexOf('account.details') != -1) && (currentUser.role !== 'individual')">
				<i class="icon icon-mark-map"></i>
				<div class="address_output">
					<div class="street_address">{{currentUser.street_address || "Street Address"}}</div>
					<div class="city_state">{{currentUser.city || "City"}}, {{chosenState() || "State / Province"}}</div>
					<div class="complete_country_zip">{{chosenCountry() || "Country"}} {{currentUser.zip || "A1B 2C3"}}</div>
				</div>
			</div>
		</div>
		<div class="main-content">
			<div ui-view></div>
		</div>
	</div>
</div>
