<div id="modalTransactionPurchase" class="modal-wrapper">
	<h2 class="modal-title">
		<span ng-if='activeSlide === "one"'>Enter your gift card information</span>
		<span ng-if='activeSlide === "two"'>Choose Your Cause</span>
		<span ng-if='activeSlide === "three"'>Subscribe</span>
	</h2>
	<button class="close" ng-click="closeRegistrationForm()"><i class="icon icon-x"></i></button>


	<div class="modal-body">
		<div class="form-slider">
			<form class="form" id="registrationForm" name="registrationForm" ng-submit='registerCertificate($event)' novalidate autocomplete="off">
				<div class="billing-info slide one" ng-class="{'active': activeSlide === 'one'}" ng-init="activeSlide = 'one'">
					<div users-profile-business-purchase-step-one></div>
				</div>
				<div class="select-cause slide two" ng-class="{'active': activeSlide === 'two'}">
					<div users-profile-business-purchase-step-two></div>
				</div>
			</form>
			<form class='form' id='mailingListForm' name='mailingListForm' ng-submit='signupForNews($event);'>
				<div class="summary slide three" ng-class="{'active': activeSlide === 'three'}">
					<div users-profile-business-purchase-step-three></div>
				</div>
			</form>
		</div>
	</div>

</div>
