/* =======================================================================
	Style References
======================================================================= */
@import (reference) "../../../../../common/styles/custom_mixins.less";
@import (reference) "../../../../../common/styles/custom_variables.less";


/* ***********************************************************************
	Module Styles
*********************************************************************** */
/*body.transaction {
	.module-view {
		.container();
	}
	h1 {
		span {
			display: block;
			font-size: 14px;
			font-weight: normal;
			margin-bottom: 5px;
		}
	}
	label.inline {
		width: 130px;
	}
	input {
		padding: 20px 36px 20px 140px;
	}
}*/