<div id="modalTransactionPurchase" class="modal-wrapper">
	<h2 class="modal-title"><span>Buy a {{newUser.certificate.amount | currency}} Gift Certificate from:</span>{{user.company_name}}</h2>
	<button class="close" ng-click="usersProfileBusinessPurchaseModal.close()"><i class="icon icon-x"></i></button>
	
	<form class="form" id="purchaseForm" name="purchaseForm" stripe-form="stripeCallBack" novalidate autocomplete="off">
		<div class="modal-body">
			<div class="form-slider">
				<div class="billing-info slide one" ng-class="{'active': activeSlide === 'one'}" ng-init="activeSlide = 'one'">
					<div users-profile-business-purchase-step-one></div>
				</div>
				<div class="select-cause slide two" ng-class="{'active': activeSlide === 'two'}">
					<div users-profile-business-purchase-step-two></div>
				</div>
				<div class="summary slide three" ng-class="{'active': activeSlide === 'three'}">
					<div users-profile-business-purchase-step-three></div>
				</div>
			</div>
		</div>

		<div class="modal-footer">
			<div ng-show="stepThreeNotComplete() && activeSlide === 'three'" class="disclaimer">To complete your purchase you must agree to the Terms &amp; Conditions</div>

	        <ul class="slide-one buttons list-unstyled" ng-show="activeSlide === 'one'">
	            <li><a class="btn button btn-danger" ng-click="usersProfileBusinessPurchaseModal.close()">Cancel</a></li>
	            <li><a class="btn button button-secondary" ng-click="activeSlide = 'two'" ng-disabled="stepOneNotComplete()">Choose a Cause</a></li>
	        </ul>

	        <ul class="slide-two buttons list-unstyled" ng-show="activeSlide === 'two'">
	            <li><a class="btn button btn-danger" ng-click="usersProfileBusinessPurchaseModal.close()">Cancel</a></li>
	            <li><a class="btn btn-default" ng-click="activeSlide = 'one'">Back</a></li>
	            <li><a class="btn button button-secondary" ng-click="activeSlide = 'three'" ng-disabled="stepTwoNotComplete()">Checkout</a></li>
	        </ul>

	        <ul class="slide-three buttons list-unstyled" ng-show="activeSlide === 'three'">
	        	<li><a class="btn button btn-danger" ng-click="usersProfileBusinessPurchaseModal.close()">Cancel</a></li>
	        	<li><a class="btn btn-default" ng-click="activeSlide = 'two'">Back</a></li>
	            <li><button class="btn button button-secondary" type="submit" ng-disabled="stepThreeNotComplete()">Confirm Purchase</button></li>
	        </ul>
	    </div>
    </form>
</div>