<div class="signup-form small-form toggle-form" ng-show="!donorForm">
	<h1>Create a New Account</h1>
	<form class="form" name="signupFormOrg" ng-submit="signupOrg()" novalidate>

		<h5>Register Your Business or Cause</h5>

		<div class="form-group">
			<label for="org-type">Register as a:</label>
			<select ng-options=""></select>
		</div>

		<div class="form-group" ng-class="{'invalid' : signupFormOrg.email.$invalid && signupFormOrg.email.$dirty, 'valid' : signupFormOrg.email.$valid && signupFormOrg.email.$dirty}">
			<label for="email" class="inline">Email</label>
			<input type="email" name="email" id="email" class="form-control" placeholder="email@address.com" ng-model="user.email" ng-pattern="emailRegex" required auto-focus show-form-errors />
			<p class="form-helper" ng-if="signupFormOrg.email.$error.pattern && !signupFormOrg.email.$focused">Invalid Email Address</p>
			<p class="form-helper" ng-if="signupFormOrg.email.$dirty && signupFormOrg.email.$error.required && !signupFormOrg.email.$focused">Email Address is required!</p>
		</div>

		<div class="form-group" ng-class="{'invalid' : signupFormOrg.password.$invalid && signupFormOrg.password.$dirty, 'valid' : signupFormOrg.password.$valid && signupFormOrg.password.$dirty}">
			<label for="password" class="inline">Password</label>
			<input type="password" name="password" id="password" class="form-control" placeholder="password" ng-model="user.password" ng-minlength=8 required show-form-errors />
			<p class="form-helper" ng-if="signupFormOrg.password.$dirty && signupFormOrg.password.$error.required && !signupFormOrg.password.$focused">Password is required!</p>
			<p class="form-helper" ng-if="signupFormOrg.password.$dirty && signupFormOrg.password.$error.minlength && !signupFormOrg.password.$focused">Password must contain at least 8 characters.</p>
		</div>

		<div class="form-group form-buttons">
			<button class="btn button button-primary" type="submit" ng-disabled="signupFormOrg.$invalid">Sign Up</button>
			<a class="switch-form" ng-click="toggleForm()" ui-sref="signup">Sign up as a Donor</a>
		</div>

	</form>
</div>