<div class="register-certificate-step-three">

	<div class="section-title">
		<h3 class="form-section-title">{{calculateDonationAmount() | currency}} will be donated to {{causeName}}. Thanks!</h3>
		<ul class='steps-indicator'>
			<li ng-class="{ 'complete': !stepOneNotComplete() }"></li>
			<li ng-class="{ 'complete': !stepTwoNotComplete() }"></li>
			<li class='active' ng-class="{ 'complete': !stepThreeNotComplete() }"></li>
		</ul>
	</div>

	<div class="form-section basic-info">
		<div class="form-group email" ng-class="{'invalid' : registrationForm.email.$invalid && registrationForm.email.$dirty, 'valid' : registrationForm.email.$valid && registrationForm.email.$dirty}">
			<label for="email" class="inline">Email</label>
			<input type="email" name="email" id="email" class="form-control with-label" placeholder="email@address.com" ng-model="newUser.email" ng-pattern="emailRegex" required show-form-errors />
			<p class="form-helper" ng-if="registrationForm.email.$error.pattern && registrationForm.email.$touched">Invalid Email Address</p>
			<p class="form-helper" ng-if="(registrationForm.email.$touched || submitAttempted) && registrationForm.email.$error.required && !registrationForm.email.$valid">Your email address is required.</p>
		</div>
	</div>
	<div class='form-section checkboxes'>
		<div class="form-group checkboxes">
			<div class="group opt-in checkbox">
				<input type="checkbox" id="mail-opt-in" name="mailing_list_opt_in" ng-model="newUser.mailing_list_opt_in" value="false">
				<label for="mail-opt-in">Get notified when this business and cause have new sponsorships</label>
			</div>
			<!--
			<div class="group terms checkbox">
				<input type="checkbox" id="agree_to_tc" name="agree_to_tc" ng-model="newUser.agree_to_tc" value="true" required>
				<label for="agree_to_tc">I agree to the <a ui-sref="terms" target="_blank">Terms &amp; Conditions</a></label>
			</div>
		-->
		</div>
	</div>

</div>
