<div class="users-account-details-edit content-area">

    <div class="right-side">
		<div users-image-upload ng-if="userRoleIsNot('individual')"></div>
	</div>

	<form class="form left-side" name="updateUserForm" ng-submit="updateUser(updateUserForm.$valid)" novalidate>

    <div class="form-section basic-info">
			<h4 class="section-title"><span class="edit">Edit</span> Basic Information</h4>

			<div class="sub-section name">
        <div class="form-group first-name" ng-class="{'invalid' : updateUserForm.first_name.$invalid && updateUserForm.first_name.$dirty, 'valid' : updateUserForm.first_name.$valid && updateUserForm.first_name.$dirty}">
          <label for="first_name" class="inline">First Name</label>
          <input type="text" name="first_name" id="first_name" class="form-control" placeholder="Given Name" ng-model="user.first_name" ng-pattern="nameRegex" maxlength="26" required show-form-errors auto-focus />
          <p class="form-helper" ng-if="updateUserForm.first_name.$error.pattern && !updateUserForm.first_name.$focused">Your name can only contain letters.</p>
          <p class="form-helper" ng-if="updateUserForm.first_name.$dirty && updateUserForm.first_name.$error.required && !updateUserForm.first_name.$focused">First Name is required!</p>
        </div>
        <div class="form-group last-name" ng-class="{'invalid' : updateUserForm.last_name.$invalid && updateUserForm.last_name.$dirty, 'valid' : updateUserForm.last_name.$valid && updateUserForm.last_name.$dirty}">
          <label for="last_name" class="inline">Last Name</label>
          <input type="text" name="last_name" id="last_name" class="form-control" placeholder="Surname" ng-model="user.last_name" ng-pattern="nameRegex" maxlength="26" required show-form-errors />
          <p class="form-helper" ng-if="updateUserForm.last_name.$error.pattern && !updateUserForm.last_name.$focused">Your name can only contain letters.</p>
          <p class="form-helper" ng-if="updateUserForm.last_name.$dirty && updateUserForm.last_name.$error.required && !updateUserForm.last_name.$focused">Last Name is required!</p>
        </div>
      </div>

			<div class="form-group company" ng-class="{'invalid' : updateUserForm.company.$invalid && updateUserForm.company.$dirty, 'valid' : updateUserForm.company.$valid && updateUserForm.company.$dirty}" ng-if="userRoleIsNot('individual')">
				<label for="company_name" class="inline"><span ng-if="userRoleIs('cause')">Cause</span><span ng-if="userRoleIsNot('cause')">Company</span> Name</label>
				<input type="company" name="company" id="company_name" class="form-control" placeholder="Organization or Cause name" ng-model="user.company_name" maxlength="50" ng-pattern="companyRegex" required show-form-errors />
				<p class="form-helper" ng-if="updateUserForm.company.$error.pattern">This field only accepts letters and numbers</p>
				<p class="form-helper" ng-if="updateUserForm.company.$dirty && updateUserForm.company.$error.required && !updateUserForm.company.$focused">Cause Name is required!</p>
			</div>

			<div class="sub-section contact-info">
				<div class="form-group email" ng-class="{'invalid' : updateUserForm.email.$invalid && updateUserForm.email.$dirty, 'valid' : updateUserForm.email.$valid && updateUserForm.email.$dirty}">
					<label for="userEmail" class="inline">Email</label>
					<input type="email" name="email" id="userEmail" class="form-control" placeholder="email@address.com" ng-model="user.email" ng-pattern="emailRegex" required show-form-errors />
					<p class="form-helper" ng-if="updateUserForm.email.$error.pattern && !updateUserForm.email.$focused">Invalid Email Address</p>
					<p class="form-helper" ng-if="updateUserForm.email.$dirty && updateUserForm.email.$error.required && !updateUserForm.email.$focused">Email Address is required!</p>
				</div>

				<div class="form-group phone" ng-class="{'invalid' : updateUserForm.phone.$invalid && updateUserForm.phone.$dirty, 'valid' : updateUserForm.phone.$valid && updateUserForm.phone.$dirty}" ng-if="userRoleIsNot('individual')">
					<label for="userPhone" class="inline">Phone</label>
					<input type="text" name="phone" id="userPhone" class="form-control" placeholder="604-321-1234" ng-model="user.phone" ng-pattern="phoneRegex" ng-change="formatNumber()" maxlength=14 show-form-errors />
					<p class="form-helper" ng-if="updateUserForm.phone.$error.pattern && !updateUserForm.phone.$focused">Invalid Phone Number</p>
					<p class="form-helper" ng-if="updateUserForm.phone.$dirty && updateUserForm.phone.$error.required && !updateUserForm.phone.$focused">A Phone Number is required so users can learn more about your organization</p>
				</div>

        <div class="form-group twitter" ng-class="{'invalid' : updateUserForm.twitter.$invalid && updateUserForm.twitter.$dirty, 'valid' : updateUserForm.twitter.$valid && updateUserForm.twitter.$dirty}" ng-if="userRoleIsNot('individual')">
          <label for="userTwitter" class="inline">Twitter</label>
          <input type="text" name="twitter" id="userTwitter" class="form-control" placeholder="handle" ng-model="user.twitter" maxlength="24" show-form-errors />
          <p class="form-helper" ng-if="updateUserForm.twitter.$error.pattern && !updateUserForm.twitter.$focused">Invalid Twitter Handle</p>
          <p class="form-helper" ng-if="updateUserForm.twitter.$dirty && updateUserForm.twitter.$error.required && !updateUserForm.twitter.$focused">A Twitter handle is useful so that businesses can reach out to you with Twitter.</p>
        </div>
			</div>
		</div>

		<div class="form-section location-info" ng-if="userRoleIsNot('individual')">
			<h4 class="section-title"><span class="edit">Edit</span> <span ng-if="userRoleIs('cause')">Cause</span><span ng-if="userRoleIsNot('cause')">Company</span> Location</h4>
			<div class="form-group street" ng-class="{'invalid' : updateUserForm.street.$invalid && updateUserForm.street.$dirty, 'valid' : updateUserForm.street.$valid && updateUserForm.street.$dirty}">
				<label for="userStreetAddress" class="inline">Street Address</label>
				<input type="text" name="street" id="userStreetAddress" class="form-control" placeholder="123 Address Street" ng-model="user.street_address" ng-minlength=4 show-form-errors />
				<p class="form-helper" ng-if="updateUserForm.street.$dirty && updateUserForm.street.$error.required && !updateUserForm.street.$focused">This field is required!</p>
			</div>
      <div class="sub-section city-zip">
        <div class="form-group city" ng-class="{'invalid' : updateUserForm.city.$invalid && updateUserForm.city.$dirty, 'valid' : updateUserForm.city.$valid && updateUserForm.city.$dirty}">
          <label for="userCity" class="inline">City</label>
          <input type="text" name="city" id="userCity" class="form-control" placeholder="ex: Vancouver" ng-model="user.city" show-form-errors />
          <p class="form-helper" ng-if="updateUserForm.city.$dirty && updateUserForm.city.$error.required && !updateUserForm.city.$focused">This field is required!</p>
        </div>
        <div class="form-group state">
          <div class='select-box'>
            <select name="state"
              id="userState"
              ng-model="user.state"
              ng-change="stateChange(user)"
              ng-options="s.name for s in states">
            </select>
          </div>
          <label for="userState" class="inline"><span ng-if="user.country.code == 'US'">State</span><span ng-if="user.country.code == 'CA'">Province</span></label>
        </div>
      </div>
			<div class="sub-section region">
        <div class="form-group zip" ng-class="{'invalid' : updateUserForm.zip.$invalid && updateUserForm.zip.$dirty, 'valid' : updateUserForm.zip.$valid && updateUserForm.zip.$dirty}">
          <label for="userZip" class="inline"><span ng-if="user.country.code == 'US'">Zip</span><span ng-if="user.country.code == 'CA'">Postal Code</span></label>
          <input type="text" name="zip" id="userZip" class="form-control" placeholder="{{zipPlaceholder}}" ng-model="user.zip" ng-minlength=5 maxlength=7 ng-pattern="zipRegex" show-form-errors />
          <p class="form-helper" ng-if="updateUserForm.zip.$error.pattern && !updateUserForm.zip.$focused">Invalid <span ng-if="selectedCountry.code == 'US'">Zip Code</span><span ng-if="selectedCountry.code == 'CA'">Postal Code</span></p>
          <p class="form-helper" ng-if="updateUserForm.zip.$dirty && updateUserForm.zip.$error.required && !updateUserForm.zip.$focused">This field is required!</p>
        </div>
				<div class="form-group country">
          <div class='select-box'>
  					<select name="country"
  						id="userCountry"
  						ng-model="user.country"
  						ng-change="countryChange(user)"
  						ng-options="c.name for c in countryList">
  					</select>
          </div>
          <label for="userCountry" class="inline">Country</label>
				</div>
			</div>

		</div>

		<div class="form-section company-details" ng-if="userRoleIsNot('individual')">
			<h4 class="section-title"><span class="edit">Edit</span> <span ng-if="userRoleIs('cause')">Cause</span><span ng-if="userRoleIsNot('cause')">Company</span> Details</h4>
			<div class="form-group website" ng-class="{'invalid' : updateUserForm.website.$invalid && updateUserForm.website.$dirty, 'valid' : updateUserForm.website.$valid && updateUserForm.website.$dirty}">
				<label for="userWebsite" class="inline">Website</label>
				<input type="website" name="website" id="userWebsite" class="form-control" placeholder="www.website.com" ng-model="user.website" ng-pattern="websiteRegex" show-form-errors />
				<p class="form-helper" ng-if="updateUserForm.website.$error.pattern && !updateUserForm.website.$focused">Invalid Website</p>
				<p class="form-helper" ng-if="updateUserForm.website.$dirty && updateUserForm.website.$error.required && !updateUserForm.website.$focused">A website is required so users can learn more about your organization</p>
			</div>

			<div class="form-group tags" ng-class="{'invalid' : updateUserForm.tags.$invalid && updateUserForm.tags.$dirty, 'valid' : updateUserForm.tags.$valid && updateUserForm.tags.$dirty}">
				<label for="userTags" class="block">Tags</label>
				<tags-input ng-model="user.tags" name="tags" id="userTags" class="tags-input" add-on-space='true' allowed-tags-pattern="^[^!@#$%&*:;.?]*$" show-form-errors></tags-input>
				<p class="form-helper info" ng-if="updateUserForm.tags.$focused">Please add a few comma-separated tags that describe your business. Only letters, numbers, and commas are accepted.</p>
				<p class="form-helper" ng-if="updateUserForm.tags.$dirty && updateUserForm.tags.$error.minTags && !updateUserForm.tags.$focused">This field is required!</p>
			</div>
			<div class="form-group company-description" ng-class="{'invalid' : updateUserForm.companyDescription.$invalid && updateUserForm.companyDescription.$dirty, 'valid' : updateUserForm.companyDescription.$valid && updateUserForm.companyDescription.$dirty}">
				<label for="userDescription" class="block"><span ng-if="userRoleIs('cause')">Cause</span><span ng-if="userRoleIsNot('cause')">Company</span> Description</label>
				<textarea name="description" id="userDescription" class="form-control with-label-above" placeholder="The first 140 characters will be used as your summary." ng-model="user.description" ng-change="setSummary(user)" show-form-errors></textarea>
				<p class="form-helper info" ng-if="updateUserForm.description.$focused && !updateUserForm.description.$error.pattern">Please add a plain text description for your business. It can be as long as you want, but the first sentence will be used as your company summary. <br/><br/>Website addresses with the http:// automatically turn into links.</p>
				<p class="form-helper" ng-if="updateUserForm.description.$dirty && updateUserForm.description.$error.required && !updateUserForm.description.$focused">This field is required!</p>
			</div>
			<div class="form-group summary" ng-class="{'invalid' : updateUserForm.summary.$invalid && updateUserForm.summary.$dirty, 'valid' : updateUserForm.summary.$valid && updateUserForm.summary.$dirty}">
				<label for="userSummary" class="block"><span ng-if="userRoleIs('cause')">Cause</span><span ng-if="userRoleIsNot('cause')">Company</span> Summary</label>
				<textarea name="summary" id="userSummary" class="form-control with-label-above" placeholder="" ng-model="user.summary" ng-maxlength="140" maxlength='140' show-form-errors />
				<p class="form-helper info" ng-if="updateUserForm.summary.$focused && !updateUserForm.summary.$error.pattern && !updateUserForm.summary.$error.maxlength">Please add a summary for your business.  <span ng-class="{error: summaryCharsRemaining() == 0}">Add up to {{summaryCharsRemaining()}} more characters.</span></p>
				<p class="form-helper" ng-if="updateUserForm.summary.$dirty && updateUserForm.summary.$error.required && !updateUserForm.summary.$focused">This field is required!</p>
				<p class="form-helper" ng-if="updateUserForm.summary.$dirty && updateUserForm.summary.$error.maxlength">Your summary is too long.</p>
			</div>
		</div>

	    <div class="form-group form-buttons">
	        <button class="btn button button-primary" type="submit">Save Changes</button>
	    </div>

    </form>
</div>
