<header class="header">
	<nav class="navbar" role="navigation">
    <div class="container">
      <div class="row">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" ng-click="navbarCollapsed = !navbarCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" ui-sref="home"><img src="/images/logo/logo_color.png" height="50px">Taliflo</a>
          <ul class="nav navbar-nav navbar-left">
            <li ui-sref-active="active"><a ui-sref="explore.businesses"><i class="icon icon-cash"></i>Businesses</a></li>
            <li ui-sref-active="active"><a ui-sref="explore.causes"><i class="icon icon-ribbon"></i>Causes</a></li>
          </ul>
        </div>

        <!-- Collapsible menu for responsive layouts -->
        <div id="mobile-menu-nav" class="navbar-collapse navbar-right" ng-init="navbarCollapsed = true" collapse="navbarCollapsed">

          <ul class="nav navbar-nav">
            <li ui-sref-active="active" ng-if="!isLoggedIn()"><a ui-sref="auth.login" ng-click="closeNavbar()">Log In</a></li>
            <li ui-sref-active="active" ng-if="!isLoggedIn()"><a ui-sref="auth.signup.individual" ng-click="closeNavbar()">Sign Up</a></li>

            <!-- Mobile Menu-->
            <div class="mobile-menu" ng-if="isLoggedIn()">
              <li ui-sref-active="active"><a ui-sref="home" ng-click="closeNavbar()"><i class="icon icon-speedometer"></i>Dashboard</a></li>
              <li ui-sref-active="active" ng-click="closeNavbar()" ng-if="currentUser.role == 'cause'"><a ui-sref="profile.cause({id:currentUser.id})"><i class="icon icon-user-circle-outline"></i>My Profile</a></li>
              <li ui-sref-active="active" ng-click="closeNavbar()" ng-if="currentUser.role == 'business'"><a ui-sref="profile.business({id:currentUser.id})"><i class="icon icon-user-circle-outline"></i>My Profile</a></li>
              <li ui-sref-active="active"><a ui-sref="account.details.view({id:currentUser.id})" ng-click="closeNavbar()"><i class="icon icon-account"></i>My Account</a></li>
              <li class="divider"></li>
              <li class="last"><a ng-click="logout(); closeNavbar()"><i class="icon icon-power-off"></i>Log Out</a></li>
            </div>
            <!-- /Mobile Menu -->

            <!-- Desktop Menu-->
            <li class="dropdown" ng-if="isLoggedIn()">
              <div dropdown is-open="status.isopen" class="dropdown-wrapper">
                <a class="dropdown-toggle">
                  Hi, {{currentUserName}} <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                  <li class="first" ui-sref-active="active"><a ui-sref="home"><i class="icon icon-speedometer"></i>Dashboard</a></li>
                  <li ui-sref-active="active" ng-if="currentUser.role == 'cause'"><a ui-sref="profile.cause({id:currentUser.id})"><i class="icon icon-user-circle-outline"></i>My Profile</a></li>
                  <li ui-sref-active="active" ng-if="currentUser.role == 'business'"><a ui-sref="profile.business({id:currentUser.id})"><i class="icon icon-user-circle-outline"></i>My Profile</a></li>
                  <li ui-sref-active="active"><a ui-sref="account.details.view({id:currentUser.id})"><i class="icon icon-account"></i>My Account</a></li>
                  <li class="divider"></li>
                  <li class="last"><a ng-click="logout()"><i class="icon icon-power-off"></i>Log Out</a></li>
                </ul>
              </div>
            </li>
            <!-- /Desktop Menu-->
          </ul>

        </div><!-- /.navbar-collapse -->
      </div>
    </div><!-- /.container -->
  </nav>
</header>