<header class="header">
	<nav class="navbar" role="navigation">
    <div class="container">
      <div class="row">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mobile-menu-nav">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" ui-sref="home"><img src="/images/logo/logo_color.png" height="50px">Taliflo</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="mobile-menu-nav">

          <ul class="nav navbar-nav">
            <li ui-sref-active="active"><a ui-sref="about">How It Works</a></li>
            <li ui-sref-active="active"><a ui-sref="explore.causes">Causes</a></li>
            <li ui-sref-active="active"><a ui-sref="explore.businesses">Businesses</a></li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li ui-sref-active="active" ng-if="!isLoggedIn()"><a ui-sref="auth.login">Log In</a></li>
            <li ui-sref-active="active" ng-if="!isLoggedIn()"><a ui-sref="auth.signup.donor">Sign Up</a></li>
            <li class="dropdown" ng-if="isLoggedIn()">
              <div dropdown is-open="status.isopen" class="dropdown-wrapper">
                <a class="dropdown-toggle">
                  <!-- First Name needs to have its own function that changes based on user role --> 
                  Hi, {{currentUserName}} <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                  <li class="first" ui-sref-active="active" ng-if="currentUser.role == 'cause'"><a ui-sref="profile.cause({id:currentUser.id})"><i class="icon icon-user-circle-outline"></i>My Profile</a></li>
                  <li class="first" ui-sref-active="active" ng-if="currentUser.role == 'business'"><a ui-sref="profile.business({id:currentUser.id})"><i class="icon icon-user-circle-outline"></i>My Profile</a></li>
                  <li ui-sref-active="active"><a ui-sref="account.settings({id:currentUser.id})"><i class="icon icon-mixer-horizontal"></i>Account Settings</a></li>
                  <li class="divider"></li>
                  <li class="last"><a ng-click="logout()"><i class="icon icon-log-out icon-flip-horizontal"></i>Log Out</a></li>
                </ul>
              </div>
            </li>
          </ul>

        </div><!-- /.navbar-collapse -->
      </div>
    </div><!-- /.container -->
  </nav>
</header>