<header class="header">
	<nav class="navbar" role="navigation">
    <div class="container">
      <div class="row">
        <div class="navbar-header">
          <a class="navbar-brand" ui-sref="home"><img src="/images/logo/logo_color.png" height="50px">Taliflo</a>
          <ul class="nav navbar-nav navbar-left">
            <li ui-sref-active="active"><a ui-sref="explore.businesses"><i class="icon icon-cash"></i>Businesses</a></li>
            <li ui-sref-active="active"><a ui-sref="explore.causes"><i class="icon icon-ribbon"></i>Causes</a></li>
          </ul>
        </div>

        <!-- Collapsible menu for responsive layouts -->
        <div id="mobile-menu-nav" class="navbar-collapse navbar-right">

          <ul class="nav navbar-nav">
            <li ui-sref-active="active" ng-if="!isLoggedIn()"><a ui-sref="auth.login" ng-click="closeNavbar()" class='login'>Log In</a></li>
            <li ui-sref-active="active" ng-if="!isLoggedIn()"><a ui-sref="auth.signup.business" ng-click="closeNavbar()">Sign Up</a></li>

            <!-- Mobile Menu-->
            <div class="mobile-menu" ng-if="isLoggedIn()">
              <li ui-sref-active="active"><a ui-sref="dashboard" ng-click="closeNavbar()"><i class="icon icon-speedometer"></i>Dashboard</a></li>
              <li ui-sref-active="active" ng-click="closeNavbar()" ng-if="currentUser.role == 'cause'"><a ui-sref="profile.cause({id:currentUser.id})"><i class="icon icon-user-circle-outline"></i>My Profile</a></li>
              <li ui-sref-active="active" ng-click="closeNavbar()" ng-if="currentUser.role == 'business'"><a ui-sref="profile.business({id:currentUser.id})"><i class="icon icon-user-circle-outline"></i>My Profile</a></li>
              <li ui-sref-active="active"><a ui-sref="account.details.view({id:currentUser.id})" ng-click="closeNavbar()"><i class="icon icon-account"></i>My Account</a></li>
              <li class="divider"></li>
              <li class="last"><a href='#' ng-click="logout(); closeNavbar()"><i class="icon icon-power-off"></i>Log Out</a></li>
            </div>
            <!-- /Mobile Menu -->

            <!-- Desktop Menu-->
            <li class="dropdown" ng-if="isLoggedIn()" dropdown on-toggle="toggled(open)">
              <div dropdown is-open="status.isopen" class="dropdown-wrapper">
                <a href='#' class="dropdown-toggle" dropdown-toggle>
                  Hi, {{currentUser.first_name}} <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
									<li ng-if="currentUser.role == 'admin'" class="first" ui-sref-active="active">
										<a ui-sref="dashboard.admin()"><i class="icon icon-speedometer"></i>Dashboard</a>
									</li>
									<li ng-if="currentUser.role == 'cause'" class="first" ui-sref-active="active">
										<a ui-sref="dashboard.cause()"><i class="icon icon-speedometer"></i>Dashboard</a>
									</li>
									<li ng-if="currentUser.role == 'business'" class="first" ui-sref-active="active">
										<a ui-sref="dashboard.business()"><i class="icon icon-speedometer"></i>Dashboard</a>
									</li>
                  <li ui-sref-active="active" ng-if="currentUser.role == 'cause'"><a ui-sref="profile.cause({id:currentUser.id})"><i class="icon icon-user-circle-outline"></i>My Profile</a></li>
                  <li ui-sref-active="active" ng-if="currentUser.role == 'business'"><a ui-sref="profile.business({id:currentUser.id})"><i class="icon icon-user-circle-outline"></i>My Profile</a></li>
                  <li ui-sref-active="active"><a ui-sref="account.details.view({id:currentUser.id})"><i class="icon icon-account"></i>My Account</a></li>
                  <li class="divider"></li>
                  <li class="last"><a href='#' ng-click="logout()"><i class="icon icon-power-off"></i>Log Out</a></li>
                </ul>
              </div>
            </li>
            <!-- /Desktop Menu-->
          </ul>

        </div><!-- /.navbar-collapse -->
      </div>
    </div><!-- /.container -->
  </nav>
</header>
