<div class="users-auth-complete-password-reset module-view container">

  <div class="complete-password-reset-form small-form">
    <h1>Enter your new Password</h1>
      <form class="form" name="completePasswordResetForm" ng-submit="confirmResetPassword()" novalidate>

        <input type='hidden' name='reset_password_token' id='reset_password_token' value='{{token}}' />

        <div class="form-group" ng-class="{'invalid' : completePasswordResetForm.password.$invalid && completePasswordResetForm.password.$dirty, 'valid' : completePasswordResetForm.password.$valid && completePasswordResetForm.password.$dirty}">
          <label for="password" class="inline">New Password</label>
          <input type="password" name="password" id="password" class="form-control with-label" ng-model="password" required auto-focus ng-minlength='8' show-form-errors />
          <p class="form-helper" ng-if="completePasswordResetForm.password.$dirty && completePasswordResetForm.password.$invalid && !completePasswordResetForm.password.$focused">Your new password must be longer than eight characters.</p>
          <p class="form-helper" ng-if="completePasswordResetForm.password.$dirty && completePasswordResetForm.password.$error.required && !completePasswordResetForm.password.$focused">New password is required!</p>
        </div>

        <div class="form-group" ng-class="{'invalid' : completePasswordResetForm.password_confirmation.$invalid && completePasswordResetForm.password_confirmation.$dirty, 'valid' : completePasswordResetForm.password_confirmation.$valid && completePasswordResetForm.password_confirmation.$dirty}">
          <label for="password_confirmation" class="inline">New Password Confirmation</label>
          <input type="password_confirmation" name="password_confirmation" id="password_confirmation" class="form-control with-label" placeholder="password_confirmation@address.com" ng-model="password_confirmation" required auto-focus show-form-errors />
          <p class="form-helper" ng-if="completePasswordResetForm.password_confirmation.$dirty && completePasswordResetForm.password_confirmation.$invalid && !completePasswordResetForm.password_confirmation.$focused">Password confirmation is invalid.</p>
          <p class="form-helper" ng-if="completePasswordResetForm.password_confirmation.$dirty && completePasswordResetForm.password_confirmation.$invalid && !completePasswordResetForm.password_confirmation.$focused">You must re-enter your new password!</p>
        </div>

        <div class="form-group form-buttons">
          <button class="btn button button-secondary" type="submit" ng-disabled="completePasswordResetForm.$invalid">Confirm New Password</button>
        </div>

      </form>
  </div>

</div>
