<div id="modal-adminCreateSponsorship" class="modal-wrapper">
    <h2 class="modal-title"></h2>
    <button class="close" ng-click="createSponsorshipModal.close()"><i class="icon icon-x"></i></button>
    <div class="modal-body">
        Content goes here
    </div>

    <div class="modal-footer">
        <ul class="buttons list-unstyled">
            <li><button class="btn button button-secondary">Create Sponsorship</button></li>
            <li><button class="btn button btn-danger" ng-click="createSponsorshipModal.close()">Cancel</button></li>
        </ul>
    </div>
</div>