<div class="users-account-profile">
	<div class="content-header">
		<div class="content-title">
			<h1 ng-if="$state.current.name == 'account.profile.view'">{{user.company_name || user.first_name + ' ' + user.last_name}}</h1>
			<h1 ng-if="$state.current.name == 'account.profile.edit'"><span class="edit">Editing</span> {{user.company_name || user.first_name + ' ' + user.last_name}}</h1>
		</div>
		<div class="user-actions">
			<a class="btn button button-secondary edit-buttons" ui-sref="account.profile.edit" ng-if="$state.current.name === 'account.profile.view'"><i class="icon icon-pencil"></i>Edit Profile</a>
		</div>
	</div>

    <div ui-view></div>

</div>
