<div class="exploreCauses exploreGrid module-view">
	<div class="row">
		<div class="page-header">
			<div class="left title">
				<h1 class="page-title">Explore Causes</h1>
			</div>
			<div class="right utils search-wrapper">
				<i class="icon fa fa-search"></i>
				<input type="search" class="search" ng-model="search" placeholder="Search Causes" typeahead="user.company_name for user in causes | filter:$viewValue | limitTo:8">
			</div>
		</div>
		<div class="page-content">
			<div ng-repeat="user in filteredCauses | filter: search" class="cause grid block">
		    	<div class="grid-item">
			    	<a ui-sref="profileCause({id:user.id})">
						<div class="profile-picture"><img ng-src="{{user.profile_picture}}"></div>
						<div class="company-name">{{user.company_name}}</div>
					</a>
					<div class="user-summary">{{user.summary | characters:140}}</div>
					<div class="supporters">{{user.supporters.length}} Supporting Businesses</div>
				</div>
		    </div>
		    <p ng-hide="(causes | filter: search).length" class="no-results">Sorry, No Results</p>
		</div>
		<div class="pagination-wrapper">
			<div pagination total-items="totalItems" items-per-page="itemsPerPage" ng-model="currentPage" max-size="maxSize" ng-change="pageChanged()"></div>
		</div>
	</div>
</div>