<div class="users-profile business module-view">
	<div class="sidebar">
		<div class="user-profile-picture">
			<div class="default-image" ng-if="currentUser.images.profile_picture.original === ''"><i class="icon icon-photos-pictures"></i></div>
			<img ng-src="{{userImage}}" ng-if="currentUser.images.profile_picture.original !== ''" />
		</div>
	</div>
	<div class="main-content">
		<h1>{{user.company_name}}</h1>
		<div class="tags" ng-if="user.tags.length > 0">
			<ul class="tagList">
				<li class="list-tag" ng-repeat="tag in user.tags"><a class="tag">#{{tag}}</a></li>
			</ul>
		</div>
		<div class="contact-info">
			<div class="website info">
				<i class="icon icon-link"></i>
				<a href="{{user.website}}" class="details website" target="_blank">{{user.website || "www.yourwebsite.com"}}</a>
			</div>
			<div class="address info">
				<i class="icon icon-mark-map"></i>
				<div class="details address">
					<div class="street">{{user.street_address || "Street Address"}}</div>
					<div class="city-state">{{user.city || "City"}}, {{user.state || "State"}}</div>
				</div>
			</div>
			<div class="phone info">
				<i class="icon icon-telephone"></i>
				<div class="details phone">{{user.phone || "Phone Number"}}</div>
			</div>
		</div>
	    <p>{{user.description}}</p>
	    <div>{{user.id}}</div>
	    {{user.type}}

	    <div users-profile-business-supported-causes></div>
	</div>
</div>