/* =======================================================================
	Style References
======================================================================= */
@import (reference) "../../../../common/styles/custom_mixins.less";
@import (reference) "../../../../common/styles/custom_variables.less";


/* ***********************************************************************
	Module Styles
*********************************************************************** */
body.account.details {
	&.edit {
		.account-sidebar {
			a.details {
				color: #fff;
				background-color: @brand-teal;
				border-color: @brand-teal;
				&:after {
					font-family:"taliflo";
					content:"L";
					.icons(@font-size: 20px);
					float: right;
				}
			}
		}
	}
	.details-header {
		.clearfix();
		margin: 20px 0 10px;
		h1 {
			float: left;
			margin-top: 0;
			margin-bottom: 0;
			@media @breakpoint-xs {
				width: 100%;
			}
		}
		.button.edit-buttons {
			margin-top: 20px;
			@media @breakpoint-sm {
				float: right;
				margin-top: 5px;
			}
		}
	}
	.content-area {
		.clearfix();
		.left-side {
			.make-xs-column(12);
			.make-sm-column(7);
			.make-md-column(7);
			.make-lg-column(8);
			padding-left: 0;
			@media @breakpoint-xs {
				padding-right: 0;
			}
			@media @breakpoint-sm {
				padding-left: 0;
			}
		}
		.right-side {
			display: none;
			.make-sm-column(5);
			.make-md-column(5);
			.make-lg-column(4);
			@media @breakpoint-sm {
		        display: block;
		        padding-right: 0;
				text-align: right;
				float: right;
				.user-profile-picture {
					margin-top: 40px;
					img {
						width: 100%;
						border-radius: 5px;
					}
				}
		    }
		    @media @breakpoint-md {
		    	.user-profile-picture {
					margin-top: 39px;
		    	}
		    }
		}
	}
	.users-account-details-view {
		.section {
			.clearfix();
			margin-bottom: 30px;
		}
		.user-data {
			overflow: hidden;
			border: solid 1px #eee;
			border-radius: 5px;
			margin: 0 0 10px;
			.field-label,
			.field-data {
				display: block;
				padding: 10px;
			}
			.field-label {
				width: 125px;
				text-align: center;
				float: left;
				border-right: solid 1px #eee;
				background-color: #f7f7f7;
			}
			.field-data {
				text-align: right;
			}
		}
	}
	.users-account-details-edit {
		select {
			width: 100%;
			height: 42px;
			line-height: 42px;
			text-indent: 130px;
			background-color: #fff;
		}
		.sub-section {
			.clearfix();
		}
		.form-section {
			.clearfix();
			margin-bottom: 30px;
			clear: left;
			&:not(.basic-info) {
				width: 100%;
			}
		}
		.form-group {
			@media @breakpoint-lg {
				&.first-name,
				&.last-name {
					width:49%;
					float: left;
				}
				&.last-name {
					margin-left: 2%;
				}
			}
			&.summary {
				label {
					width: 140px;
				}
				input {
					padding-left: 150px;
				}
			}
		}
	}
	.user-profile-image-upload {
		.default-image {
			@media @breakpoint-sm-only {
	            height: 150px;
	        }
			width: 100%;
			height: 198px;
			border-radius: 5px;
			overflow: hidden;
			.icon {
				display: block;
				float: none;
				font-size: 230px;
				height: 230px;
				width: 230px;
				margin: -16px auto 0;
				line-height: 100%;
				position: relative;
				color: @brand-teal;
				@media @breakpoint-sm-only {
					font-size: 180px;
					height: 180px;
					width: 180px;
				}
			}
		}
		.image-upload {
			width: 100%;
			overflow: hidden;
			margin-top: 5px;
			.file-input {
				height: 34px;
				position: relative;
				z-index: 2;
				opacity: 0;
				cursor: pointer;
				font-size: 110px;
			}
			.fake-upload-button {
				float: left;
				border-radius: 5px 0 0 5px;
			}
			.fake-file-input {
				float: left;
				display: block;
				border: solid 1px #ccc;
				border-radius: 0 5px 5px 0;
				height: 34px;
				width: calc(~'100% - 100px');
				padding-left: 6px;
			}
			.fake-uploader-container {
				position: relative;
				top: -34px;
			}
		}
		ul.file-uploads {
			padding: 0;
			position: relative;
			margin: 0px;
			bottom: 0px;
			.animated();
		    &.ng-enter {
		        .fadeIn();
		    }
		    &.ng-leave {
		        .fadeOut();
		    }
		    li {
		    	list-style: none;
		    	.file-actions {
		    		margin-top: -57px;
					padding: 5px;
					border-radius: 0 0 5px 5px;
					background:url("./images/whites/white75.png");
					.file-name {
						margin-bottom: 5px;
					}
		    	}
		    	.progress {
		    		height: 34px;
		    		margin: -28px 0 0;
		    		width: calc(~'100% - 100px');
		    		float: right;
		    		position: relative;
					bottom: -34px;
		    	}
		    }
		}
	}
}

