<div class="users-account-details">
	<div class="content-header">
		<div class="content-title">
			<h1 ng-if="$state.current.name == 'account.details.view'">{{currentUser.company_name || currentUser.first_name + ' ' + currentUser.last_name}}</h1>
			<h1 ng-if="$state.current.name == 'account.details.edit'"><span class="edit">Editing</span> {{currentUser.company_name || currentUser.first_name + ' ' + currentUser.last_name}}</h1>
		</div>
		<div class="user-actions">
			<a class="btn button button-secondary edit-buttons" ui-sref="profile.{{currentUser.role}}({id:currentUser.id})" ng-if="userRoleIsNot('individual') && userRoleIsNot('admin')"><i class="icon icon-user-circle-outline"></i>My Profile</a>
			<a class="btn button button-secondary edit-buttons" ui-sref="account.details.edit" ng-if="$state.current.name == 'account.details.view'"><i class="icon icon-pencil"></i>Edit Details</a>
    		<a class="btn button button-secondary edit-buttons" ui-sref="account.details.view" ng-if="$state.current.name == 'account.details.edit'"><i class="icon icon-eye-view"></i>View Details</a>
		</div>
	</div>
	<div class="sub-header">
		<h5>User Type: <span>{{currentUser.role}}</span></h5>
		<h5>Account Status: <span class="status {{accountStatus()}}">{{accountStatus()}}</span></h5>
	</div>

    <div ui-view></div>

</div>