<div class="users-account-details">
	<div class="content-header">
		<h1 ng-if="$state.current.name == 'account.details.view'">Account Details</h1>
		<h1 ng-if="$state.current.name == 'account.details.edit'"><span class="edit">Editing</span> Account Details</h1>
		<div class="content-header-buttons">
			<a class="btn button button-secondary edit-buttons" ui-sref="profile.{{currentUser.role}}({id:currentUser.id})"><i class="icon icon-user-circle-outline"></i>My Profile</a>
			<a class="btn button button-secondary edit-buttons" ui-sref="account.details.edit" ng-if="$state.current.name == 'account.details.view'"><i class="icon icon-pencil"></i>Edit Details</a>
    		<a class="btn button button-secondary edit-buttons" ui-sref="account.details.view" ng-if="$state.current.name == 'account.details.edit'"><i class="icon icon-eye-view"></i>View Details</a>
		</div>
	</div>
	<div class="sub-header">
		<h5>User Type: <span>{{currentUser.role}}</span></h5>
		<h5>Account Status: <span class="status {{accountStatus()}}">{{accountStatus()}}</span></h5>
	</div>

    <div ui-view></div>

</div>