<div class="dashboard business sponsorships">

	<div class="row">
		<div ng-repeat="sp in currentUser.sponsorships" class="cause small-grid grid block">
			<div class="grid-item" ng-hide="loading">
				<a ui-sref="profile.cause({id:cause.id, role:sp.cause.role})" title="{{sp.cause.company_name}}">
					<div class="profile-picture"><img ng-src="{{sp.cause.profile_picture}}"></div>
					<div class="company-name">{{sp.cause.company_name | characters:24}}</div>
				</a>
				<div class="user-summary">{{sp.cause.summary | characters:140}}</div>
				<div class="supporters" popover-placement="top" popover-trigger="mouseenter" popover="{{pluralizedUserTooltip(cause)}}">
					<i class="icon icon-cash" ng-repeat="sponsor in cause.sponsors | limitTo : 3"></i>
					<i class="icon icon-more-2" ng-if="cause.sponsors.length > 3"></i>
				</div>
			</div>
		</div>
	</div>
	<div ajax-spinner class="spinner" ng-show="loading"></div>

</div>
